In [65]:
import sqlite3

connection= sqlite3.connect('books.db')
cursor = connection.cursor()

In [67]:
cursor.execute('SELECT * FROM titles')

In [69]:
columns = [description[0] for description in cursor.description]
rows = cursor.fetchall()

In [71]:
print(f"{' | '.join(columns)}")  # Print the column names
print('-' * 50)  # Print a separator line
for row in rows:
    print(f"{' | '.join(map(str, row))}")

isbn | title | edition | copyright
--------------------------------------------------
0135404673 | Intro to Python for CS and DS | 1 | 2020
0132151006 | Internet & WWW How to Program | 5 | 2012
0134743350 | Java How to Program | 11 | 2018
0133976890 | C How to Program | 8 | 2016
0133406954 | Visual Basic 2012 How to Program | 6 | 2014
0134601548 | Visual C# How to Program | 6 | 2017
0136151574 | Visual C++ How to Program | 2 | 2008
0134448235 | C++ How to Program | 10 | 2017
0134444302 | Android How to Program | 3 | 2017
0134289366 | Android 6 for Programmers | 3 | 2016